@charset "UTF-8";

/******************************************************************************/
/* home - TopImage                                                            */
/******************************************************************************/
.top-image-wrapper {
  margin: 0;
  padding: 0;
}
.top-image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top-image-wrapper img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/******************************************************************************/
/* home - Notice                                                              */
/******************************************************************************/
.notice-wrapper {
  width: 100%;
  margin-top: -10px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}
.notice-header h1 {
  color: rgba(2, 48, 21, 1.0);
}
.notice-header h2 {
  color: #333;
}
.notice-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.notice-header {
  width: 100%;
}
.notice-content {
  font-size: 1.0rem;
  padding: 15px;
  line-height: 1.71;
  letter-spacing: 0.05rem;
  width: 90%;
  margin: 20px auto;
  border-left: 6px solid rgba(2, 48, 21, 1.0);
  border-radius: 6px;
}


/******************************************************************************/
/* home - LiveInfo                                                            */
/******************************************************************************/
.live-info-wrapper {
  width: 100%;
  margin-top: -10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.live-info-header h1 {
  color: rgba(219, 66, 119, 1.0);
}
.live-info-header h2 {
  color: #333;
}
.live-info-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 97%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0px 16px rgba(219, 66, 119, .50);
}
.live-info-header {
  width: 100%;
}
.live-info-content {
  padding-top: 20px;
}
.live-info-detail {
  display: flex !important;
  align-items: flex-start;
  margin-top: 5px;
}
.live-info-detail-caption {
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 20px;
  max-width: 200px;
  width: 20%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  background: rgba(219, 66, 119, 1.0);
}
.live-info-detail-content {
  width: 75%;
  font-size: 1.0rem;
  letter-spacing: 0.05rem;
  line-height: 1.71;
  padding: 5px;
  margin: 0 auto;
}


/******************************************************************************/
/* home - TimeTable                                                           */
/******************************************************************************/
.time-table-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.time-table-header h1 {
  color: rgba(241, 141, 26, 1.0);
}
.time-table-header h2 {
  color: #333;
}
.time-table-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 97%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0px 16px rgba(241, 141, 26, .50);
}
.time-table-detail {
  display: flex !important;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 70%;
  background-color: #fff;
  border-radius: 4px;
  border-right: 8px solid rgba(241, 141, 26, .80);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, .25);
}
.time-table-detail-caption {
  align-items:center;
  max-width: 120px;
  width: 25%;
  display: inline-block;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 3px;
  font-size: 16px;
}
.time-table-detail-content {
  align-items:center;
  width: 65%;
  letter-spacing: 0.1rem;
  padding: 3px;
  font-size: 18px;
}


/******************************************************************************/
/* home - SetList                                                             */
/******************************************************************************/
.set-list-wrapper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.set-list-header h1 {
  color: rgba(0, 73, 134, 1.0);
}
.set-list-header h2 {
  color: #333;
}
.set-list-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 97%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0px 16px rgba(0, 73, 134, .50);
}
.set-list-content ul {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 600px;
  overflow: scroll;
}
.set-list-content li {
  margin: 0;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05rem;
}
.set-list-content-title {
  padding: 1px 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 73, 134);
}
.set-list-content-artist {
  padding: 1px 0;
  font-size: 14px;
}
.set-list-content-artist::before {
  content: '/ ';
  padding-left: 5px;
}
.set-list-content-tag {
  padding: 5px 0;
  color: rgba(128, 128, 128, 1.0);
}
.set-list-content-tag span {
  padding: 2px 4px;
  margin: 0 3px;
  font-size: 12px;
  border: 1px solid rgba(196, 196, 196, 1.0);
  border-radius: 10px;
}


/******************************************************************************/
/* home - About                                                               */
/******************************************************************************/
.about-wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
}
.about-header h1 {
  color: rgba(2, 48, 21, 1.0);
}
.about-header h2 {
  color: #333;
}
.about-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.about-header {
  width: 100%;
}
.about-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.about-content-picture {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.about-content-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/******************************************************************************/
/* home - Other                                                               */
/******************************************************************************/
.other-wrapper {
  width: 100%;
  margin-top: -10px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}
.other-header h1 {
  color: rgba(0, 164, 105, 1.0);
}
.other-header h2 {
  color: #333;
}
.other-inner {
  background-color: #fff;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.other-header {
  width: 100%;
}
.other-content {
  font-size: 1.0rem;
  padding: 15px;
  line-height: 1.71;
  letter-spacing: 0.05rem;
  width: 90%;
  margin: 20px auto;
}
.other-link {
  margin: 0 auto 30px auto;
  text-align: center;
}
.other-link a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  width: 70%;
  padding: 8px 5px;
  margin: 0 auto;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: rgba(0, 164, 105, 1.0);
  background-color: #fff;
  border: 2px solid transparent;
  border-color: rgba(0, 164, 105, 1);
  border-radius: 6px;
  transition: 0.3s;
}
.other-link a::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: rotate(45deg) translateY(-50%);
	width: 6px;
	height: 6px;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: rgba(0, 164, 105, 1);
}
.other-link a:hover {
  background-color: rgba(0, 164, 105, 1.0);
  color: #fff;
}

.other-link a:hover::after {
	border-color: #fff;
}
