@charset "UTF-8";

/******************************************************************************/
/* song_history -                                                             */
/******************************************************************************/
.live-history-wrapper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.live-history-header h1 {
  color: rgba(0, 164, 105, 1.0);
}
.live-history-header h2 {
  color: #333;
}
.live-history-inner {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px 0px 20px;
}
.live-history-header {
  width: 100%;
}
.live-history-content {
  padding: 20px;
}
.live-history-group1 {
  width: 100%;
  margin: 10px auto 50px auto;
  border-radius: 6px;
  border: 2px solid rgba(0, 164, 105, 1.0);
  padding: 0 0 15px 0;
}
.live-history-group1-header {
  background: rgba(0, 164, 105, 1.0);
  border-radius: 3px 3px 0 0;
  color: #fff;
  padding: 5px;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
.live-history-group2 {
  margin: 0 auto;
  padding: 10px 10px 5px 10px;
}
.live-history-group2-header {
  width: 95%;
  border-radius: 2px;
  border-left: 4px solid rgba(0, 164, 105, 1.0);
  border-bottom: 1px solid rgba(0, 164, 105, 1.0);
  color: #333;
  padding: 3px 3px 3px 10px;
  letter-spacing: 0.1rem;
}
.live-history-group3 {
  margin: 0 auto;
  padding: 0 14px;
}
.live-history-group3 ul {
  margin: 0;
  padding: 0;
  padding-top: 4px;
}
.live-history-group3 li {
  display: flex !important;
  align-items: flex-end;
  padding-top: 10px;
}
.live-history-info-caption {
  display: inline-block;
  width: 20%;
  min-width: 90px;
  color: rgba(0, 164, 105, 1.0);
  border: 1px solid rgba(0, 164, 105, 1.0);
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 0.8rem;
  text-align: center;
}
.live-history-info-contain {
  width: 70%;
  margin-left: 20px;
}
  .live-history-song-title {
  display: inline-block;
  color: rgb(0, 133, 84);
}
.live-history-song-artist {
  padding-left: 5px;
  font-size: 0.8rem;
}
.live-history-song-artist::before {
  content: ' / ';
}
