@charset "UTF-8";

/******************************************************************************/
/* all                                                                        */
/******************************************************************************/
* {
    box-sizing: border-box;
}



/******************************************************************************/
/* default                                                                    */
/******************************************************************************/
.positive-font {
  color: green;
}
.negative-font {
  color: red;
}
.line-through {
  text-decoration: line-through;
}
.notice-background {
  background-color: #FFEE00;
}
button {
  position: relative;
  display: block;
  width: 160px;
  padding: 5px 0;
  margin: 12px auto 0 auto;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  border: 1px solid transparent;
  border-color: #333;
  border-radius: 30px;
  cursor: pointer;
}



/******************************************************************************/
/* html                                                                       */
/******************************************************************************/
html {
    margin: 0;
    height: auto;
}



/******************************************************************************/
/* body                                                                       */
/******************************************************************************/
body {
    font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
    font-size: 15px;
    color: #333;
    margin: 0;
    height: auto;
    background-color: #fff;
}
body:has(dialog[open]) {
  overflow: hidden;
}



/******************************************************************************/
/* background                                                                 */
/******************************************************************************/
#background {
  overflow: hidden;
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding: 10px 0;
  border-left: #ccc solid 1px;
  border-right: #ccc solid 1px;
  box-shadow: 0 0px 20px rgb(0, 0, 0, .16);
  /* -webkit-box-shadow: 0 0px 20px rgb(0, 0, 0, .16); */
  /* box-shadow: 0 0px 20px rgb(0, 0, 0, .16); */
  background-image: 
    repeating-linear-gradient(45deg,
                            rgba(194, 168, 204, 0.50),
                            rgba(194, 168, 204, 0.50) 20px,
                            transparent 0,
                            transparent 40px),
    repeating-linear-gradient(315deg,
                            rgba(219, 66, 119, 0.30),
                            rgba(219, 66, 119, 0.30) 20px,
                              transparent 0,
                              transparent 40px);
}
@media only screen and (max-width:699px) {
  #background {
      width: 100%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -moz-background-size: contain;
      background-size: contain;
  }
}



/******************************************************************************/
/* common                                                                     */
/******************************************************************************/
.request-button {
  padding: 8px 0;
  margin: 10px auto 0 auto;
  font-size: 1.0rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #fff;
  border: none;
}
.request-button:disabled {
  background-color: #bbb;
  color: #fff;
  cursor: default;
}



/******************************************************************************/
/* dialog                                                                     */
/******************************************************************************/
.dialog::backdrop {
  backdrop-filter: blur(8px);
}
.dialog {
  position: fixed;
  inset-inline: 0;
  inset-block: 0;
  max-width: 680px;
  max-height: 95%;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
  overflow-y: auto;
  overscroll-behavior: contain;
}
@media only screen and (max-width:699px) {
  .dialog {
      width: 94%;
  }
}



/******************************************************************************/
/* loading                                                                    */
/******************************************************************************/
#overlay { 
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}

.is-hide {
  display:none;
}



/******************************************************************************/
/* section                                                                    */
/******************************************************************************/
.section {
  background-color: #fff;
  border-radius: 30px;
  width: 98%;
  margin: 0 auto 15px auto;
  padding: 10px 15px 20px 15px;
  box-shadow: 0 0px 16px rgba(0, 73, 134, .50);
}

.section-head {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

.section-body {
  margin: 0 auto;
  text-align: center;
}

.section-head h1 {
  font-family: "Hachi Maru Pop", serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}

.section-head h2 {
  font-family: "Hachi Maru Pop", serif;
  font-size: 16px;
  letter-spacing: 0.2rem;
  color: #333;
  margin: 0;
  padding: 0;
}

.section-head .shape {
  position: absolute;
  box-shadow: 0 0px 4px rgb(0, 0, 0, .16);
}
.section-head .pink {
  background-color: #db4277;
}
.section-head .yellow {
  background-color: #FFEE00;
}
.section-head .blue {
  background-color: #004986;
}
.section-head .orange {
  background-color: #f39800;
}
.section-head .green {
  background-color: #69bd83;
}
.section-head .violet {
  background-color: #DD59CF;
}
.section-head .medium {
  width: 11px;
  height: 11px;
}
.section-head .large {
  width: 18px;
  height: 18px;
}
.section-head .circle {
  border-radius: 20px;
}
.section-head .square {
  border-radius: 4px;
}

.section-body .input {
  display: flex !important;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
}
.section-body .input label {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: right;
  font-size: 0.85rem;
}
.section-body .input input {
  padding: 3px;
  text-align: left;
}



/******************************************************************************/
/* account                                                                    */
/******************************************************************************/
#account h1 {
  color: rgba(0, 164, 105, 1.0);
}
#account h2 {
  color: #333;
}
.account-form {
  width: 90%;
  margin: 0 auto;
}
#account-input-username {
  width: 180px;
}
#account-input-fighter {
  width: 180px;
}



/******************************************************************************/
/* register                                                                   */
/******************************************************************************/
#register h1 {
  color: rgba(0, 164, 105, 1.0);
}
#register h2 {
  color: #333;
}
.register-form {
  width: 90%;
  margin: 0 auto;
}
#input-game-record-id {
  width: 50px;
}
label[for="input-game-record-is-vip"] {
  display: flex !important;
  align-items: flex-start;
  width: 60px;
  padding-top: 3px;
  margin-left: 15px;
  cursor: pointer;
}
label[for="input-game-record-is-vip"] span {
  display: block;
  cursor: pointer;
  margin-top: 2px;
  margin-left: -3px;
}
#input-game-record-is-vip {
  display: block;
  width: 25px;
  cursor: pointer;
}
#input-game-record-date {
  width: 120px;
}
#input-game-record-rate {
  width: 120px;
}
#input-game-record-stock {
  width: 120px;
}
#input-game-record-fighter {
  width: 180px;
}

#register-request-button {
  width: 40%;
  background-color: rgba(0, 164, 105, 1.0);
}
#register-dump-request-button {
  width: 40%;
  background: linear-gradient(135deg, rgba(0, 164, 105, 1.0) 0%, rgba(0, 164, 105, 1.0) 50%, rgba(0, 73, 134, 1.0) 50%, rgba(0, 73, 134, 1.0) 100%);
}

.register-request-result {
  display: flex !important;
  align-items: flex-start;
  width: 100%;
  margin: 10px auto 0 auto;
  font-size: 0.9rem;
}
.register-request-result-caption {
  width: 80px;
  margin-right: 10px;
  text-align: right;
  font-size: 0.9rem;
}
.register-request-result-content {
  text-align: left;
  font-size: 0.9rem;
}



/******************************************************************************/
/* dump                                                                       */
/******************************************************************************/
#dump h1 {
  color: rgba(0, 73, 134, 1.0);
}
#dump h2 {
  color: #333;
}
.dump-section {
  width: 98%;
  margin: 0 auto;
  text-align: center;
}
.dump-section-head {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #333;
  padding: 2px 7px;
  margin-top: 10px;
  border-left: 3px solid rgba(0, 73, 134, 1.0);
  border-bottom: 1px solid rgba(0, 73, 134, 1.0);
}
.dump-section-body {
  padding: 5px 0;
}
.dump-request-button {
  width: 150px;
  background-color: rgba(0, 73, 134, 1.0);
}



/******************************************************************************/
/* dump-table                                                                 */
/******************************************************************************/
.dump-table-wrapper {
  overflow-x: auto;
  margin: 0 auto;
}
.dump-table {
  font-size: 0.8rem;
  text-align: right;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
.dump-table tr {
  vertical-align: middle;
}
.dump-table th {
  position: sticky;
  top: 0;
  left: 0;
  min-width: 60px;
  padding: 2px 4px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.dump-table th::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: -1;
}
.dump-table th:first-child {
  z-index: 1;
}
.dump-table td {
  padding: 2px 4px;
}
.dump-table td:first-child {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding-right: 5px;
}
.dump-table td:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
@media (hover: hover) {
  /* hover指定できるPCを想定したスタイル */
  .dump-table .clickable:hover,
  .dump-table .clickable:hover td:first-child::before {
    cursor: pointer;
    background-color: #aaa;
    color: #fff;
  }
}
@media (hover: none) {
  /* hoverが使えないタッチ端末を想定した装飾 */
  .dump-table .clickable:active,
  .dump-table .clickable:active td:first-child::before {
    cursor: pointer;
    background-color: #aaa;
    color: #fff;
  }
}
.dump-table .sort-asc,
.dump-table .sort-desc {
  cursor: pointer;
  border: 0px;
  color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 18px;
  font-size: 12px;
  padding: 0;
  margin: 0 auto;
}

.dump-table-more-button,
.dump-table-less-button {
  display: none;
  color: rgba(0, 73, 134, 1.0);
  border-color: rgba(0, 73, 134, 1.0);
}
.dump-table-more-button::after,
.dump-table-less-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  width: 7px;
  height: 7px;
  margin: auto;
  border-top: 1px solid rgba(0, 73, 134, 1.0);
  border-right: 1px solid rgba(0, 73, 134, 1.0);
  box-sizing: border-box;
}
.dump-table-more-button::after {
  transform: translateY(-2px) rotate(135deg);
}
.dump-table-less-button::after {
  transform: translateY(2px) rotate(315deg);
}

.dump-table tr .id {
  display: none;
}
.dump-table tr .is-deleted {
  display: none;
}
.dump-table tr .is-vip {
  display: none;
}
.dump-table tr .date {
  min-width: 80px;
}
.dump-table tr .rate {
  min-width: 80px;
}
.dump-table tr .win-over {
  min-width: 60px;
}
.dump-table tr .stock {
  min-width: 60px;
}
.dump-table tr .fighter {
  min-width: 180px;
  text-align: left;
  padding-left: 20px;
}



/******************************************************************************/
/* dump-two-columns                                                           */
/******************************************************************************/
.dump-two-columns {
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
  padding: 7px 0 0 0;
  text-align: left;
}
.dump-two-columns-left {
  max-width: 350px;
  margin: 0;
  border-right: 1px solid #ccc;
  text-align: right;
}
.dump-two-columns-right {
  max-width: 350px;
  margin: 0;
  text-align: left;
}



/******************************************************************************/
/* dump-one-line-description                                                  */
/******************************************************************************/
.dump-one-line-description {
  width: auto;
}
.dump-one-line-description dl {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 0;
  padding: 4px 0;
}
.dump-one-line-description dt {
  display: block;
  margin: 0;
  min-width: 90px;
  max-width: 110px;
  padding-right: 10px;
  text-align: right;
}
.dump-one-line-description dd {
  display: block;
  margin: 0;
  min-width: 80px;
  max-width: 100px;
  padding-left: 10px;
  text-align: left;
}



/******************************************************************************/
/* dialog                                                                     */
/******************************************************************************/
.dialog-section {
  margin: 0 auto;
  padding: 5px 0;
}
.dialog-head {
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 0.1rem;
  color: #333;
  padding: 2px 7px;
  border-left: 3px solid rgba(0, 73, 134, 1.0);
  border-bottom: 1px solid rgba(0, 73, 134, 1.0);
}
.dialog-body {
  padding: 5px 0;
}
.dialog-game-record-table-wrapper {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  width: auto;
  max-height: 300px;
}
.dialog-game-record-table {
  margin: 0;
  padding: 0;
  width: 100%;
}



/******************************************************************************/
/* dump-total-record                                                          */
/******************************************************************************/
#dump-total-record {
  display: none;
}



/******************************************************************************/
/* dump-history-chart                                                         */
/******************************************************************************/
#dump-history-chart {
  display: none;
}
.dump-history-chart > div {
  width: calc(100% - 18px);
  margin: 0 auto;
}
.dump-history-chart canvas {
  height: 320px;
}
.dump-history-chart span {
  font-size: 0.9rem;
  padding: 2px;
}
.dump-history-chart .slick-next {
  right: 0 !important;
}
.dump-history-chart .slick-prev {
  left: 0 !important;
}
.dump-history-chart .slick-arrow {
  z-index: 2 !important;
}
.dump-history-chart .slick-arrow:before {
  color: rgba(0, 0, 0, 0.6);
}
.dump-history-chart .slick-slide {
  height: auto !important;
  max-height: 340px !important;
}
.dump-history-chart .canvas-latest {
  display: none;
}
.dump-history-chart .canvas-all {
  display: none;
}
.dump-history-chart .canvas-daily {
  display: none;
}


/******************************************************************************/
/* dump-game-record                                                           */
/******************************************************************************/
#dump-game-record {
  display: none;
}
.dump-game-record-notice {
  display: none;
  padding: 3px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: red;
}
.dump-game-record-table-wrapper {
  max-height: 520px;
  overflow-y: scroll;
}
.dump-game-record-table th {
  text-align: right;
}
.dump-game-record-table tr .id {
  display: none;
}
.dump-game-record-table tr .is-deleted {
  display: none;
}
.dump-game-record-table tr .is-vip {
  display: none;
}
.dump-game-record-table tr .date {
  min-width: 80px;
}
.dump-game-record-table tr .rate {
  min-width: 80px;
}
.dump-game-record-table tr .stock {
  min-width: 40px;
}
.dump-game-record-table tr .fighter {
  min-width: 180px;
  text-align: left;
  padding-left: 20px;
}



/******************************************************************************/
/* dump-daily-record                                                          */
/******************************************************************************/
#dump-daily-record {
  display: none;
}
.dump-daily-record-table-wrapper {
  max-height: 280px;
  overflow-y: scroll;
}
.dump-daily-record-table th {
  text-align: right;
}
.dump-daily-record-table tr .date {
  min-width: 80px;
}
.dump-daily-record-table tr .rate {
  min-width: 80px;
}
.dump-daily-record-table tr .game-count {
  min-width: 60px;
}
.dump-daily-record-table tr .win-over {
  min-width: 60px;
}
.dump-daily-record-table tr .win-count,
.dump-daily-record-table tr .lose-count,
.dump-daily-record-table tr .min-rate,
.dump-daily-record-table tr .max-rate,
.dump-daily-record-table tr .total-stock,
.dump-daily-record-table tr .total-rate {
  display: none;
}



/******************************************************************************/
/* dump-fighter-record                                                        */
/******************************************************************************/
#dump-fighter-record {
  display: none;
}
.dump-fighter-record-table-wrapper {
  overflow-x: auto;
}
.dump-fighter-record-table tr .fighter {
  padding-right: 8px;
}
.dump-fighter-record-table tr .win-count,
.dump-fighter-record-table tr .lose-count,
.dump-fighter-record-table tr .total-stock {
  display: none;
}
